node_modules
jspm_packages
bower_components

.git
.expo
dist
web-build
build
out
coverage
*.lcov
.nyc_output
lib-cov

*.log
*.err.log
npm-debug.log*
npm-debug.*
yarn-debug.log*
yarn-debug.*
yarn-error.log*
yarn-error.*
lerna-debug.log*
logs

.vscode
.vscode-test
.cache
.parcel-cache
.temp
.firebase
.npm
.eslintcache
.stylelintcache

*.apk
*.aab
*.apks
*.ipa
*.zip
*.tar
*.tgz
*.gz
*.bak
*.tmp
*backup*
*.mp4
*.mov
*.webm
*.avi
*.mkv

android
ios
.kotlin
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.DS_Store
*.pem
.env
.env*.local
.env.*
!.env.example

expo-qr.png
expo-go-qr.png
*.tsbuildinfo
app-example
